@using HttpClients.ClientInterfaces
@using Domain
@page "/Posts"
@inject IPostService postService
@inject NavigationManager NavigationManager


<h3>ViewPosts</h3>

<span>@msg</span>
@if (posts != null)
{
    @foreach (Post post in posts)
    {
        <div class="card">
            <div class="card-body">
                @post.Title - @post.OwnerUsername
                <button @onclick="() => Open(post.Id)">SEE MORE</button>
            </div>
        </div>
    }
}

@code {
    private string msg = "";
    private IEnumerable<Post>? posts;

    protected override async Task  OnInitializedAsync()
    {
        msg = "Loding";
        try
        {
            posts = await postService.GetAsync();
            msg = "";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void Open(int id)
    {
        NavigationManager.NavigateTo($"/posts/{id}");
    }
}